#board {
	width: 306px;
	height: 306px;
	color: red;
	border: dotted 2px;
	margin: auto;
}

.boxes {
	background: white;
	width: 100px;
	height: 100px;
	color: red;
	float: left;
	border: solid 1px black;
	font-size: 90px;
	text-align: center;
}

#reset {
	width: 40%;
	color: white;
	text-align: center;
	background: blue;
	margin: auto;
}

#display {
	width: 40%;
	color: white;
	text-align: center;
	background: blue;
	margin: auto;
}